:root {
  --main-bg-color: rgb(40, 40, 40);
  --card-bg-color: rgba(0, 0, 0, 0.5);
  --text-hover-color: #EEB0B5;
  --button-color: #E194A8;
  --text-color: white;
}
.insights{
    height:80vh;
    overflow-y:auto;
}
.insights-container{
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content: center;;
    gap:10px;
    height:100%;
    width:100%;
}

.insight-card{
    background-color:var(--card-bg-color);
    border-radius:8px;
    padding:15px;
    box-sizing:border-box;
    color: var(--text-color);
}
.summary-today{
    width:50%;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    gap:5px;
}
.summary-card{
    width:calc(50% - 6px);
    height:50%;
}
#day-view{
    width:100%;
    height:50%;
    display:flex;
    gap:10px;
    justify-content:space-evenly;

}
#food-detail,#exercise-detail,#finance-detail,#mood-detail{
    width:calc(50% - 6px);
    height:20%;
}
img{
    margin:10px;
    max-height:50%;
}