{% extends "layout.html" %}
{% block title %}Login{% endblock %} 
{% block content %}
    <div class="carousel">
        <div class="group">
            <div class="card">Mood</div>
            <div class="card">Finance</div>
            <div class="card">Music</div>
            <div class="card">Food</div>
            <div class="card">Exercise</div>
        </div>

        <div aria-hidden="true" class="group">
            <div class="card">Mood</div>
            <div class="card">Finance</div>
            <div class="card">Music</div>
            <div class="card">Food</div>
            <div class="card">Exercise</div>
        </div>
    </div>
{% endblock %}