<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Balance{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
    {% block extra_css %}{% endblock %}
</head>

<body>

<header>
    <nav class="navbar">
        <div class="logo"><a href="#">BALANCE</a></div>

        <ul class="links">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('logbook.logbook_home') }}">Logbook</a></li>
            <li><a href="{{ url_for('insights') }}">Insights</a></li>
        </ul>

        {% if session.user_id %}
            <a href="{{ url_for('auth.logout') }}" class="action_button">Logout</a>
        {% else %}
            <a href="{{ url_for('auth.login') }}" class="action_button">Login</a>
        {% endif %}

        <div class="toggle_btn">
            <button class="more">
                <img src="{{ url_for('static', filename='assets/images/menu.png') }}" alt="menu icon">
            </button>
        </div>

        <ul class="dropdown_menu">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('logbook.logbook_home') }}">Logbook</a></li>
            <li><a href="{{ url_for('calendar') }}">Calendar</a></li>
            <li><a href="{{ url_for('music') }}">Music</a></li>
            <li><a href="{{ url_for('insights') }}">Insights</a></li>
            <li>
            {% if session.user_id %}
                <a href="{{ url_for('auth.logout') }}" class="action_button">Logout</a>
            {% else %}
                <a href="{{ url_for('auth.login') }}" class="action_button">Login</a>
            {% endif %}
            </li>
        </ul>
    </nav>
</header>

<main>
    {% block content %}{% endblock %}
</main>
<script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
</body>
</html>
