{% extends "layout.html" %}

{% block title %}Log Food{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/form.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/logbook.css') }}">
{% endblock %}

{% block content %}
<form action="/log_food" method="POST">
    <div class="form-group">
        <label for="food-name">Food Name:</label>
        <input type="text" id="food-name" name="food-name" required>
    </div>
    <div class="form-group">
        <label for="calories">Calories:</label>
        <input type="number" id="calories" name="calories" required>
    </div>
    <div class="form-group">
        <label for="meal-type">Meal Type</label>
        <select id="meal-type" name="meal-type" required>
            <option value="" disabled selected>Select a meal type</option>
            <option value="breakfast">Breakfast</option>
            <option value="lunch">Lunch</option>
            <option value="dinner">Dinner</option>
            <option value="snack">Snack</option>
        </select>
    </div>
    <div class="form-group">
        <label for="date">Date Consumed:</label>
        <input type="date" id="date" name="date" required>
    </div>
    <button type="submit">Log Food</button>
</form>
{% endblock %}
