{% extends "layout.html" %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='logbook.css')}}">
{% endblock %}

{% block title %}LogBook{% endblock %}

{% block content %}
    <h1>SELECT A CATEGORY TO LOG</h1>
    <div class="select-card">
        <a href="{{ url_for('logbook.logbook_food') }}" class="card-option">Food</a>
        <a href="{{ url_for('logbook.logbook_exercise') }}" class="card-option">Exercise</a>
        <a href="{{ url_for('logbook.logbook_finances') }}" class="card-option">Finances</a>
        <a href="{{ url_for('logbook.logbook_mood') }}" class="card-option">Mood</a>
    </div>
{% endblock %}